{% extends 'base.html' %}

{% block content %}

{% if api %}
    {% if api == "Error..." %}
        There was an error, please make sure you entered only text and not numbers or try again...
    {% else %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to AirQuality check!!</h1>
        <hr class="my-4">
        <h2 style="display:inline-block">{{city}}</h2>
        <h5 style="display:inline">,{{street}}</h5>
        
        <p>The Ozone level is {{api}}{{unit}}.</p>
        <p>The Air quality is {{air_qual}}.</p>
      </div>
    {% endif %}
{% else %}
<h1 class="display-4">Welcome to AirQuality check!!</h1>
<hr class="my-4">
<p>Please select a city from search bar on the top right corner.</p>
{% endif %}

{% endblock %}  
